<form method="post" action="{{ path('app_backend_replies_delete', {'replyId': reply.replyId}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reply.replyId) }}">
    <button class="btn">Delete</button>
</form>
