{% extends 'backendbase.html.twig' %}

{% block title %}Replies index{% endblock %}

{% block body %}
    <h1>Replies index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Content</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reply in replies %}
            <tr>
                <td>{{ reply.content | slice(0, 150) | raw }}...</td>
                <td>{{ reply.createdAt ? reply.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_backend_replies_show', {'replyId': reply.replyId}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
