{% extends 'backendbase.html.twig' %}

{% block title %}Edit Sponsor{% endblock %}

{% block body %}
    <h1>Edit Sponsor</h1>

    {{ include('sponsor/_form.html.twig', {'button_label': ' Update'}) }}

    <a href="{{ path('app_sponsor_list') }}" class="btn btn-secondary mt-3">
        <i class="fas fa-arrow-left"></i> Back to List
    </a>

    {{ include('sponsor/_delete_form.html.twig') }}
{% endblock %}
