{% extends 'backendbase.html.twig' %}

{% block title %}Edit Project{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">Edit Project</h1>

            <div class="card-text">
                {{ include('project/_form.html.twig', {'button_label': 'Update'}) }}
            </div>
            
            <a href="{{ path('app_project_list') }}" class="btn btn-secondary mt-3"><i class="fas fa-arrow-left"></i> Back to List</a>
            
            <hr>
            
            <form action="{{ path('app_project_deleteb', {'id': project.id}) }}" method="post" style="display: inline;">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit" class="btn btn-danger"><i class="fas fa-trash"></i> Delete</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
